// Custom.scss
// Option A: Include all of Bootstrap

@import "../bootstrap-4.1.3/scss/bootstrap.scss";

@import "bootstrap-4.1.3/scss/_functions.scss";

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);

@import "bootstrap+4.1.3";